body{
    margin: 0;
    padding: 0;
}
.main {
    padding: 50px 0;
    background-color: var(--blue-color-low);
}
.service__section {
    padding: 20px 10px;
    border-radius: 10px;
    display: none;
}

.service__section--show {
    display: block;
}
.col-3{

}
.col-9{
    border-radius: 10px;
    background-color: #757575;
}
.service__item{
    padding: 20px 10px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 5px;
    color: #FFFFFF;
}
.service__item {
    margin-top: 20px;
}
.service__item:not(.service__item--clicked):hover {
    opacity: 0.9;
    cursor: pointer;
}
.service__item.service__item--clicked {
    background-color: #757575
}
h1{
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    color: white;

}
.block_info{
    display: flex;
    margin-top: 20px;
}
.user{
    margin-left: 20px;
}
.user__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
#photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#file{
    display: none;
}
#uploadbtn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    transform: translateX(-90%);
    margin-top: 75px;
    background-color: rgb(173,172,172,0.801);
    box-shadow: 2px 4px 4px rgb(0,0,0,0.644);
}

.info-compo{
    margin-top: 15px;
    margin-left: 20px;

}
.lable-compo{
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}
.input-compo{
    height: 40px;
    width: 750px;
    border-radius: 6px;
}
.gender__option select{
    width: 750px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}
.birthday__option{

}
#day{
    width: 220px;
    font-size: 18px;
}
#month{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin: 0px 50px;
}
#year{
    width: 220px;
    font-size: 18px;
}
.save {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.save button {
    border-radius: 50px;
    height: 50px;
    width: 170px;
    background-color: #76f876;
    font-weight: bold;
    border: none;
    font-size: 18px;
}

.save button:hover {
    background-color: #5ee95e;
    cursor: pointer;
}
.save button:active {
    border: 3px solid white;
}
.info-compo .input__form{
    position: relative;
}
.form {
    margin-top: 30px;
}
.icon__eye{
    position: absolute;
    right: 10px;
    top: 25px;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    font-size: 15px;
}
.icon__eye--open{
    display: none;
}

.input__oldPass, .input__newPass , .input__newPass--confirm{
    margin-top: 5px;
}
.info__oldPass, .info__newPass , .info__newPass--confirm{
    margin: 5px 100px;
}
.save__changePass{
    margin-right: 100px;
}
.form__error {
    display: block;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.invalid .form__error {
    color: red;
}

.invalid .input-compo {
    border: 1px solid red;
}

.block__product{
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #fff;
    object-fit: cover;
}
.img__product{
    width: 120px;
    height: 120px;
    border-radius: 10px;

}
.block__info{
    line-height: 20px;
    margin: 10px 20px;
}

