body{
    margin: 0;
    padding: 0;
    font-size:12px;
    font-family: sans-serif, Arial, Tahoma;
    background-color: #2f2f2f;
}
.containers{
    width: 710px;
    margin: 100px auto;
    color: #ffffff;
}
.back{
    margin-bottom: 50px;
    margin-top: -40px;
}
.back button{
    border-radius: 20px;
    border: none;
    font-size: 35px;
    width: 50px;
    color: white;
    background-color: rgba(59, 59, 59, 0.64);
    object-fit: inherit;
}
i{
    text-align: center;
}
.back button:hover{
    background-color: #262626;
}
.back button:active{
    border: 3px solid white;
}
.title{
    font-size: 50px;
    padding-bottom: 40px;
    font-weight: bold;
}
.contain{
    padding-bottom: 20px;
    width: 700px;
    font-size: 20px;
    font-weight: bold;
}

.contain .input__form {
    width: inherit;
    position: relative;
}
.contain input{
    width: inherit;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}
.save {
    float: right;
    margin-top: 10px;
}
.save button {
    border-radius: 50px;
    height: 50px;
    width: 170px;
    background-color: #76f876;
    font-weight: bold;
    border: none;
    font-size: 18px;
}
.save button:hover{
    background-color: #5ee95e;
}
.save button:active{
    border: 3px solid white;
}
span{
    float: right;
    margin-left: 25px;
    margin-top: 25px;
    position: relative;
    z-index: 2;
}
.icon__eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    font-size: 15px;
}
.icon__eye--open{
    display: none;
}
