.contact_us{
    margin: 30px auto;
    gap: 20px;
    align-items: flex-start;
}

.contact_us .title_method-contact{
    flex: 2;
    padding-left: 0px;
    text-align: justify;
}

.contact_us .title_method-contact h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--blue-color-high);
    padding-bottom: 16px;
}

.contact_us .title_method-contact p{
    font-size: 18px;
    line-height: 24px;
}

.contact_us .get-in-touch{
    margin-top: 50px;
    display: grid;
    gap: 16px
}

.contact_us .get-in-touch .contact-method{
    display: flex;
    gap: 10px;
    /*align-items: stretch;*/
    border: 1px #D9D9D9 solid;
    border-radius: 4px;
    padding: 10px;
}

.contact_us .get-in-touch .contact-method .icon-contact{
    min-width: 46px;
    background-color: #F8F8F8;
    border-radius: 4px;
    display: flex;
}

.contact_us .get-in-touch .contact-method i{
    font-size: 20px;
    margin: auto;
}

.contact_us .get-in-touch .contact-method .contact-description{
    font-weight: 600;
    text-align: left;
}

.contact_us .get-in-touch .contact-method .contact-description p:last-child{
    color: var(--blue-color-high);
    font-weight: 700;
}

#contact_us-form{
    display: grid;
    gap: 30px;
    border: 1px #D9D9D9 solid;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(12,12,12,0.1);
}

#contact_us-form .form__block{
    display: grid;
}

#contact_us-form .form__block .form__label{
    font-weight: 600;
    padding-bottom: 6px;
}

#contact_us-form .form__block .form__input{
    width: 100%;
    /*border: 1px solid black;*/
    background-color: #F8F8F8;
    border-radius: 4px;
    padding: 14px 10px;
}