.body {
    height: 100vh;
}

.frame {
    height: 100vh
}
.form{
    width: 50%;
    margin: 0 auto;
}
.heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    line-height: 1.67;
}