/*Hero*/
.hero {
    position: relative;
}

.hero__img {
    user-select: none;
    width: 100%;
    display: block;
}

.hero__slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: #fff;
}

.hero__slogan p {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08px;
}

.hero__slogan p:first-child {
    font-size: 40px;
}

.hero__slogan p:nth-last-child(2) {
    padding-top: 34px;
    font-size: 25px;

}

.hero__button {
    --width: 300px;
    --height: 80px;
    display: inline-block;
    margin-top: 34px;
    border-radius: 20px;

    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.064px;

    --background-color-hover: var(--blue-color-low);
    --background-color: var(--blue-color-high);
}


.slider-container {
    position: relative;
    width: 700px;
    overflow: hidden;
    margin: 26px 0px;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s;
}

.slider img[class="img-item"] {
    width: 100%;
    height: 100%;
}

.navigation-button {
    cursor: pointer;
    background-color: white;
    opacity: 80%;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav_prev{
    left: 24px;
}

.nav_next{
    right: 24px;
}




.popular-section .title{
    display: flex;
    justify-content: space-between;
}

.popular-section .title span{
    font-size: 30px;
    font-weight: 600;
}

.popular-section .content{
    display: flex;
    justify-content: space-between;
}

.model_product{
    width: 308px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    overflow: hidden;
}

.model_product img{
    width: 100%;
    height: 380px;
}

.model_product .information-product{
    display: grid;
    width: 90%;
    gap: 14px;
    margin: 14px auto;
}

.model_product .information-product .status{
    padding: 8px 8px;
    width: fit-content;
    border-radius: 4px;
    background-color: #E40F0A;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.model_product .information-product .name-product{
    font-weight: 460;
    font-size: 18px;
}

.model_product .information-product .review-product{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
}

.model_product .information-product .review-product .icon-review i{
    color: #F7B500;
    font-size: 16px;
}

.model_product .information-product .review-product a{
    font-size: 16px;
    color: #687EFF;
}

.model_product .information-product .price{
    font-weight: 600;
}

.model_product .information-product .price .sale-price{
    font-size: 24px;
}

.model_product .information-product .price .original-price{
    font-size: 16px;
    color: #D9D9D9;
}

.discovery_us-section{
    height: 300px;
}
.discovery_us-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #F8F8F8;
    border-radius: 10px;
    height: 100%;
}

.discovery_us-section .title{
    width: 100%;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.discovery_us-section .content{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.discovery_us-section .content .what_thing{
    border-left: black 2px solid;
    padding-left: 10px;
}

.discovery_us-section .content .what_thing p:first-child{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}