.main {
    background-color: var(--blue-color-low);
}

.products {
    padding-top: 50px;
}

/*Aside category*/
.categories {
    position: relative;
    height: 100%;
}

.categories:hover .category__list {
    border: 1px solid #ccc;
}

.categories:hover .category__item {
    position: unset;
}

.categories:hover .category__item ~ .category__item {
    margin-top: 20px;
}

.category__list {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    background-color: var(--mint-color);

}

.category__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    background-color: var(--blue-color-high);

    transition: margin-top 0.2s linear;
}

.category__item:first-child {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.category__item:hover {
    cursor: pointer;
}

.category__item:not(:first-child):hover {
    background-color: var(--blue-color-medium);

}


.category__icon {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: #fff;
}

.category__icon::after, .category__icon::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: inherit;
    background-color: inherit;
}


.category__icon::after {
    top: -5px;
}

.category__icon::before {
    bottom: -5px;
}

/*Search*/
.search__form {
    --border-radius: 20px;
    display: flex;
    height: 50px;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

.search__input {
    flex: 1;
    display: inline-block;
    padding: 0 20px;
    border: 2px solid #ccc;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    margin-right: -20px;
    font-size: 15px;
}

.search__input:placeholder-shown {
    font-weight: 500;
    font-family: var(--primary-font);
}

.search__button {
    --width: 150px;
    height: 100%;
    border-radius: var(--border-radius);
    color: #fff;
    --background-color-hover: var(--blue-color-medium);
    --background-color: var(--blue-color-high);
    font-size: 15px;
    font-weight: 500;
    font-family: var(--primary-font);
}

.search__icon {
    margin-right: 10px;
    font-size: 15px;
}

/*!*Product-card*!*/
/*.product__card {*/
/*    --border-radius: 20px;*/
/*    border-radius: var(--border-radius);*/
/*    background-color: #fff;*/
/*    margin-bottom: 20px;*/
/*    padding: 20px 10px;*/
/*    color: #000;*/
/*}*/

/*.product__img {*/
/*    width: 100%;*/
/*    height: 300px;*/
/*    object-fit: cover;*/
/*    border-radius: var(--border-radius);*/
/*    display: block;*/
/*}*/

/*.product__info {*/
/*    padding-top: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*}*/

/*.product__tag {*/
/*    display: inline-block;*/
/*    border-radius: var(--border-radius);*/
/*    height: 30px;*/
/*    text-align: center;*/
/*    line-height: 30px;*/
/*    background-color: red;*/
/*    padding: 0 10px;*/
/*    color: #fff;*/
/*}*/

/*.product__name {*/
/*    font-size: 22px;*/
/*    font-weight: 500;*/
/*}*/

/*.product__price {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.original-sale {*/
/*    font-size: 20px;*/
/*    font-weight: 500;*/
/*}*/

/*.original-price {*/
/*    font-size: 18px;*/
/*    font-weight: 400;*/
/*    text-decoration: line-through;*/
/*    opacity: 0.5;*/
/*    padding-left: 20px;*/
/*}*/
