.main {
    background-color: var(--blue-color-low);
}

.products {
    padding: 50px 0;
}

/*Product detail*/
.product__detail {
    padding: 50px 0;
}

.product__media {
    position: sticky;
    top: 0;
}

.product__img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__info {
    padding: 10px;
    color: #000;
}
.product__form {
    padding-right: 5px;
}

.product__name {
    font-size: 40px;
    line-height: 1.67;
    font-weight: 500;
}

.product__name + div {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
}

.product__price {
    font-weight: 500;
}

.product__price--sale {
    font-weight: 500;
    font-size: 30px;
}

.product__price--base {
    text-decoration: line-through;
    font-weight: 400;
    opacity: 0.7;
    font-size: 25px;
}

.form__title {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
}



.form__label {
    font-size: 18px;
    font-weight: 400;
}

.form__block-inner {
    margin-top: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    height: 40px;
}

.form__input {
    flex: 1;
    width: 100%;
    font-size: 15px;
    margin-right: 10px;
}

.form__error {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    color: red;
    font-weight: 500;
    margin-top: 5px;
}

/*Color picker*/
.form__color-check {
    position: relative;
    display: inline-block;
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
}

.form__color-check.form__color--checked {
    border: 2px solid #fff;
    outline: 1px solid #000;
}

.form__color-check:hover {
    cursor: pointer;
}

.form__choose-color {
    display: flex;
    gap: 25px;
    padding-top: 10px;
}

.form__color-notify {
    font-size: 15px;
    padding-top: 10px;

}

.form__input-color-code {
    background-color: transparent;
    width: 100px;
    color: transparent;
    pointer-events: none;
}

.form__color-check--custom {
    background-color: snow;
}


.form__block:has(.form__quantity) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Radio size choose*/
.form__size-list {
    padding-top: 10px;
    display: flex;
    gap: 20px;
}

label:has(.form__radio):hover {
    cursor: pointer;
    opacity: 0.9;
}

label:has(.form__radio) {
    display: block;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

label:has(.form__radio:checked) {
    outline: 2px solid #000;
}
.form__guide {
    text-decoration: underline;
    font-size: 15px;
    font-weight: 500;
}

.form__guide:hover {
    opacity: 0.8;
    cursor: pointer;
}

.form__quantity {
    margin-top: 10px;
}

.form__quantity-inner {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.form__quantity input {
    width: 40px;
    height: var(--size);
    border-radius: 5px;
    text-align: center;
    line-height: var(--size);
    background-color: #fff;
    color: #000;
}

.form___quantity-btn {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    background-color: var(--blue-color-medium);
    text-align: center;
    line-height: var(--size);
}

.form___quantity-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.form___quantity--decrease::before {
    content: "\f068";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.form___quantity--increase::before {
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.form__submits {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

.form__submits > * {
    flex: 1;
}

.form__submit {
    position: relative;
    --height: 60px;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    background-color: unset;
}

.form__submit--order {
    --background-color-effect: var(--blue-color-medium);
    box-shadow: 0 0 0 2px var(--blue-color-medium);
}

.form__submit--buy {
    background-color: var(--blue-color-medium);
    --background-color-effect: var(--blue-color-high);
}

.form__submit::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--background-color-effect);
    border-radius: inherit;
    transition: width 0.3s ease-in;
}

.form__submit::before {
    content: attr(data);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
    z-index: 1;
}

.form__submit:hover::before {
    cursor: pointer;
}

.form__submit:hover::after {
    cursor: pointer;
    width: 100%;
    left: 0;
}

.guide__img {
    width: 1000px;
    max-height: 100%;
    object-fit: contain;
}

/*Product desc + review*/
.product__desc-review {
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 40px 0 30px;
}

.product__page {
    color: #fff;
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    opacity: 0.6;
}

.product__page:hover {
    cursor: pointer;
}

.product__page.product__page--clicked {
    opacity: 1;
}

/*Product desc*/
.product__desc {
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.desc__title {
    font-size: 18px;
    font-weight: 500;
}

.desc__text {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;

}

.desc__text > li {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.desc__text > li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 2px;
    background-color: #000;
    margin-right: 5px;
}
/*Product Review*/
.product__review {
    display: none;
}

.review {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    color: #000;
    background-color: #fff;
}

.review ~ .review {
    margin-top: 20px;
}

.review__avatar {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}

.review__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__account {
    flex: 1;
}

.review__name {
    font-size: 18px;
    font-weight: 500;
}

.review__stars {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;

}

/*apply font awesome like background image*/
.review__star {
    font-weight: 400;
    font-size: 15px;
}

.review__start--archive {
    font-weight: 900;
    color: yellow;
}

.review__star::before {
    content: "\f005";
    font-family: "Font Awesome 6 Free";
}

.review__date {
    margin-left: auto;
    font-size: 12px;
    font-weight: 400;
    color: #ccc;
}
.review__para {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.67;
}

.review__para:hover {
    cursor: pointer;
}

.modal {
    display: none;
}

/*modal parameter*/
.modal__parameter {
    background-color: var(--blue-color-medium);
    border-radius: 10px;
    padding: 10px;
}

.modal__parameter h2 {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border-radius: inherit;
}

.modal__parameter p {
    text-align: center;
    padding: 20px 20px 10px;
    line-height: 1.67;
    font-size: 15px;
}

.form__parameter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    padding: 10px 20px;
}

.modal__parameter button {
    --width: 200px;
    --height: 50px;
    margin: 20px auto 0;
    --background-color-hover: var(--blue-color-low);
    --background-color: var(--blue-color-high);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}
