body{
    margin: 0;
    padding: 0;
    font-size:12px;
    font-family: sans-serif, Arial, Tahoma;
    background-color: #2f2f2f;
}
.containers{
    width: 710px;
    margin: 100px auto;
    color: white;
}
.back{
    margin-bottom: 20px;
}
.back button{
    border-radius: 20px;
    border: none;
    font-size: 30px;
    width: 40px;
    color: white;
    background-color: rgba(59, 59, 59, 0.64);
    object-fit: inherit;
}
i{
    text-align: center;
}
.back button:hover{
    background-color: #262626;
}
.back button:active{
    border: 3px solid white;
}
.title{
    font-size: 32px;
    padding-bottom: 20px;
    font-weight: bold;
}
.contain{
    padding-bottom: 20px;
    width: 700px;
}
.contain .input__form label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contain input{
    width: inherit;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}
#Gender{
    width: 707px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid black;
}
.contain .option_select2{
    display: flex;
    justify-content: space-between;
}
.contain .option_select2 input{
    width: 220px;
    margin-right: 15px;
}
.contain .option_select2 select {
    width: 220px;
    border-radius: 10px;
    border: 2px solid black;
    margin:0 15px;
    font-weight: bold;
}
#year{
    margin-left: 15px;
    margin-right: -7px;
}
.save {
    float: right;
    margin-top: 10px;
}
.save button {
    border-radius: 50px;
    height: 40px;
    width: 150px;
    background-color: lightgreen;
    font-weight: bold;
    border: none;
}
.save button:hover{
    background-color: #5ee95e;
}
.save button:active{
    border: 3px solid white;

}


