.cart__title {
    font-weight: 700;
    font-size: 40px;
    color: var(--blue-color-high);
    padding: 30px 0px;
    position: relative;
    z-index: 1;
}

.cart__container .cart__content {

}

.cart__container .cart__content .grid__cart--template {
    display: grid;
    grid-template-columns: auto 120px 140px 140px 80px;
    gap: 20px;
    align-items: center;
}

#cart__header {
    border-bottom: var(--blue-color-high) 6px solid;
    padding-bottom: 10px;
    width: 100%;
    /*position: relative;*/
    position: sticky;
    left: 0;
    right: 0;
    background-color: white;
    top: 120px;
    /*z-index: 999;*/
}

#cart__header::before {
    content: "";
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    /*bottom: 100px;*/
    background-color: white;
    z-index: -1;
}

#cart__header span {
    font-weight: 600;
    font-size: 22px;
}

.cart__container .cart__content .cart__items {
    /*margin: 16px auto;*/
    width: 100%;
}

.cart__container .cart__content .cart__items .cart__item {
    height: auto;
    border-bottom: 1px solid #D9D9D9;
    transition: opacity 0.3s ease-in-out;
}

.cart__container .cart__content .cart__items .cart__item.fade--out{
    opacity: 0;
    pointer-events: none;
    padding: 0;
    margin: 0;
}

.cart__container .cart__content .cart__items .cart__item .cart__detail--info{
    margin: 24px 0px;
}

.cart__container .cart__content .cart__items .cart__item .cart__detail--info .remove__action{
    cursor: pointer;
    font-size: 20px;
}

.order__product--info, .order__size--specification {
    display: grid;
    gap: 6px;
}

.order__product--info .order__size--specification li[class="size_spec-item"]{

}

.cart__items .cart__item .product__item {
    display: flex;
    align-items: stretch;
    gap: 8px;
}

.cart__items .cart__item .product__item a[class="product__image"] {
    /*width: auto;*/
    /*height: 100%;*/
    /*object-fit: contain;*/
    /*border-radius: 4px;*/
    /*overflow: hidden;*/
    /*border: 1px black solid;*/
    height: 220px;
    min-width: 180px;
}

.cart__items .cart__item .product__item a[class="product__image"] img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.cart__items .cart__item .product__item .order__product--info .product__name {
    font-size: 19px;
    font-weight: 500;
    /*border: black 1px solid;*/
}

.cart__items .cart__item .product__item .order__product--info .edit__wishlist--button{
    display: flex;
    gap: 4px;
}

.cart__items .cart__item .product__item .order__product--info .edit__wishlist--button button{
    padding: 8px 14px;
    border-radius: 4px;
}

.cart__items .cart__item .product__item .order__product--info .edit__wishlist--button button:hover{
    background-color: var(--blue-color-medium);
    color: white;
    cursor: pointer;
}

.cart__items .cart__item .cart__detail--info .unit__price,
.cart__items .cart__item .cart__detail--info .subtotal__item{
    font-weight: 500;
    font-size: 20px;
}


.quality__swapper {
    height: 36px;
    display: inline-flex;
    flex-wrap: nowrap;
}

.quality__required::-webkit-outer-spin-button,
.quality__required::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.quality__required {
    -moz-appearance: textfield;
    text-align: center;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    width: 46px;
}

.change__quality {
    width: 36px;
    border: 1px solid #D9D9D9;
    background-color: white;
}

.change__quality.plus__quality {
    border-radius: 0px 4px 4px 0px;
}

.change__quality.minus__quality {
    border-radius: 4px 0px 0px 4px;
}

/*invoice && promotions*/

.invoice__promotion{
    display: grid;
    gap: 20px;
    height: fit-content;
}

.invoice__promotion u{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    display: inline-block;
}

.invoice__promotion .apply__promotion{
    padding: 14px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}

#promotion__form > div{
    display: flex;
    gap: 4px;
}

#promotion__form > div > input{
    border: 1px solid var(--blue-color-high);
    border-radius: 4px;
    padding: 10px;
}

#promotion_code{
    flex: 1;
}

#apply{
    background-color: var(--blue-color-high);
    color: white;
    font-weight: 600;
}

#promotion__form .apply__status{
    height: auto;
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
}

#promotion__form .apply__status.valid{
    color: var(--blue-color-high);
}

#promotion__form .apply__status.invalid{
    color: #E40F0A;
}

.invoice__promotion .summary__invoice{
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 14px;
}

.invoice__promotion .summary__invoice .invoice__detail--info{
    display: grid;
    gap: 16px;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__items{
    display: grid;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px #D9D9D9 solid;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__items .price__item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__items .price__item:last-child{
    display: none;
    height: auto;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__text{
    font-weight: 500;
    color: #808080;
}



.invoice__promotion .summary__invoice .price__items .price__value{
    font-size: 20px;
    font-weight: 550;
}

.invoice__promotion .summary__invoice .price__total{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.invoice__promotion .summary__invoice .price__total .price__content{
    text-align: right;
    line-height: 24px;
}

.invoice__promotion .summary__invoice .price__total .price__content .price__value--final{
    font-size: 24px;
    font-weight: 550;
    color: var(--blue-color-high);
}

.invoice__promotion .summary__invoice .price__total .price__content .price__value--noted{
    font-size: 14px;
}

.invoice__promotion .group__button--forward{
    display: grid;
    gap: 8px;
}

#continue--checkout, #continue--shopping{
    padding: 14px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

#continue--checkout{
    background-color: var(--blue-color-high);
    color: white;
}

#continue--shopping{
    background-color: white;
    border: 1px solid black;
}


