.cart_title{
    font-weight: 700;
    font-size: 40px;
    color: var(--blue-color-high);
}

.cart_container .cart_content{
    flex: 3;
}

.cart_container .cart_content .group_card{
    margin: 16px auto;
}

.cart_container .cart_content .group_card .cart-item{
    padding: 16px initial;
    border-bottom: 1px solid #D9D9D9;
}

.cart_container .cart_content .grid_cart-template{
    display: grid;
    grid-template-columns: auto 140px 120px 140px 120px 60px;
    gap: 20px;
    position: sticky;
    top: 0;
    align-items: center;
}

#cart_description{
    border-bottom: var(--blue-color-high) 2px solid;
    padding-bottom: 4px;
}

#cart_description span{
    font-weight: 600;
    font-size: 22px;
}

.order_product-info, .size-specs{
    display: grid;
    gap: 4px;
}

.group_card .cart-item .product_item{
    display: flex;
    align-items: stretch;
}

.group_card .cart-item .product_item a img{
    /*width: auto;*/
    /*height: 100%;*/
    /*object-fit: contain;*/
    /*border-radius: 4px;*/
    /*overflow: hidden;*/
    /*border: 1px black solid;*/
}

.group_card .cart-item .product_item .order_product-info .name-product{
    font-size: 18px;
    font-weight: 500;
    /*border: black 1px solid;*/
}