.frame {
    display: flex;
    align-items: center;
    background: linear-gradient(114deg, #80B3FF 39.92%, #687EFF 61.2%);
}

.frame__media {
    flex: 1;
    height: 100vh;
    background: url("../img/login__img.png") left / 100% no-repeat;
}

article {
    flex: 1;

}

.form {
    padding: 0 24px;
}

.form__block {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.064px;
}

.form__block ~ .form__block {
    margin-top: 10px;
}

.form__label, .form__link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.form__label {
    margin-bottom: 10px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
}

.form__link {
    text-decoration: underline;
}

.form__block:has(.form__link) {
    display: flex;
    align-items: center;
}

.form__block:has(.form__link) > *:not(.form__checkbox) {
    display: inline-block;
}

.icon_checkbox {
    position: relative;
    margin-left: auto;
    margin-right: 5px;
    display: inline-block;
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    border: 3px solid var(--blue-color-medium);
}

.icon_checkbox:hover {
    cursor: pointer;
}

.icon_checkbox:after {
    display: none;
    position: absolute;
    top: 17%;
    left: 52%;
    transform: translate(-50%, -50%);
    content: "";
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    rotate: -45deg;
}

#forget-password:checked + .icon_checkbox {
    background-color: var(--blue-color-medium);
}

#forget-password:checked + .icon_checkbox:after {
    display: block;
}

.form__submit {
    --width: 100%;
    --height: 50px;
    margin-top: 34px;
    border-radius: 5px;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.064px;

    /*Hover*/
    --background-color-hover: var(--blue-color-low);
    --background-color: var(--blue-color-medium);
}

#form__link--signIn, #form__link--signUp {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 34px;
}

/*Validate form css*/
.form__error {
    display: block;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.invalid .form__error {
    color: red;
}

.invalid .form__input {
    border: 1px solid red;
}

/*Model*/
.modal, .modal__blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal__blur {
    background-color: rgba(0, 0, 0, 0.7);

}

.modal__notify {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: var(--blue-color-high);
    padding: 50px 30px;
    border-radius: 10px;

    color: #fff;
    text-align: center;
}

.model__checked-icon {
    font-size: 50px;
}

.modal__text, .modal__button {
    font-size: 20px;
    font-weight: 500;
}

.modal__text {
    margin-top: 20px;
}

.modal__resend {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
}
.modal__resend span{
    text-decoration: underline;
}
.modal__resend span:hover{
    cursor: pointer;
    opacity: 0.8;
}
#modal__hide:checked + .modal {
    display: none;
}

.modal__button {
    display: block;
    margin: 20px auto 0;
    --width: 200px;
    --height: 50px;
    border-radius: 10px;

    /*Hover*/
    --background-color-hover: var(--blue-color-low);
    --background-color: var(--blue-color-medium);
}