.table__wrapper{
    height: max-content;
}

.button__delete{
    display: block;
}

.table{
    width: max-content;
}

th, td{
    vertical-align: middle;
    text-align: center;
}

.check::after{
    left: -35%;
    top: 45%;
    transform: translate(-50%,-50%);
}