.cart__title {
    font-weight: 700;
    font-size: 40px;
    color: var(--blue-color-high);
    padding: 30px 0px;
    position: relative;
    z-index: 1;
}

.cart__container{
    justify-content: center;
    margin-bottom: 70px;
}

.cart__container .cart__content{
    flex: 3;
}

.cart__container .cart__content .grid__cart--template {
    display: grid;
    grid-template-columns: auto 100px 130px 100px 60px;
    gap: 20px;
    align-items: center;
}

#cart__header {
    border-bottom: var(--blue-color-high) 6px solid;
    padding-bottom: 10px;
    width: 100%;
    /*position: relative;*/
    position: sticky;
    left: 0;
    right: 0;
    background-color: white;
    top: 120px;
    z-index: 0;
}

#cart__header::before {
    content: "";
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    /*bottom: 100px;*/
    background-color: white;
    z-index: 0;
}

#cart__header span {
    font-weight: 600;
    font-size: 18px;
}


.cart__container .cart__content .cart__items {
    /*margin: 16px auto;*/
    width: 100%;
    height: 100%;
}

.cart__container .cart__content .cart__items .cart__item {
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.cart__container .cart__content .cart__items .cart__item.fade--out{
    opacity: 0;
    pointer-events: none;
    padding: 0;
    margin: 0;
}

.cart__container .cart__content .cart__items .cart__item .cart__detail--info{
    margin: 24px 0px;
}

.cart__container .cart__content .cart__items .cart__item .cart__detail--info .remove__action{
    cursor: pointer;
    font-size: 20px;
    width: fit-content;
}

.order__product--info, .order__size--specification {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.cart__items .cart__item .product__item .product__content{
    display: flex;
    align-items: stretch;
    gap: 8px;
}

.cart__items .cart__item .product__item a[class="product__image"] {
    /*width: auto;*/
    /*height: 100%;*/
    /*object-fit: contain;*/
    /*border-radius: 4px;*/
    /*overflow: hidden;*/
    /*border: 1px black solid;*/
    /*height: 238px;*/
    /*min-width: 180px;*/
}

.cart__items .cart__item .product__item a[class="product__image"] img{
    /*height: 100%;*/
    /*width: 100%;*/
    height: 180px;
    width: 130px;
    object-fit: cover;
    border-radius: 6px;
}

.cart__items .cart__item .product__item .order__product--info .product__name {
    font-weight: 500;
    /*border: black 1px solid;*/
    line-height: 22px;
}

.order__color, .order__size--specification{
    font-size: 14px;
}

.size__spec--item{
    list-style-type: disc;
    margin-left: 24px;
}

.cart__items .cart__item .cart__detail--info .unit__price,
.cart__items .cart__item .cart__detail--info .subtotal__item{
    font-weight: 500;
    font-size: 18px;
}


.quality__swapper {
    height: 34px;
    display: inline-flex;
    flex-wrap: nowrap;
    width: fit-content;
}

.quality__required::-webkit-outer-spin-button,
.quality__required::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.quality__required {
    -moz-appearance: textfield;
    text-align: center;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    width: 40px;
}

.change__quality {
    width: 30px;
    border: 1px solid #D9D9D9;
    background-color: white;
    cursor: pointer;
    display: flex;
}

.change__quality i{
    margin: auto;
}

.change__quality.plus__quality {
    border-radius: 0px 4px 4px 0px;
}

.change__quality.minus__quality {
    border-radius: 4px 0px 0px 4px;
}

.remove__item{
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
}

/*invoice && promotions*/

.invoice__promotion{
    display: grid;
    gap: 14px;
    height: fit-content;
    position: sticky;
    top: 120px;
}

/* New update */

.invoice__promotion > span{
    font-size: 14px;
    text-align: center;
    color: var(--blue-color-high);
    font-weight: 500;
}

.invoice__promotion h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
    display: inline-block;
}

.promotion__all{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-bottom: 12px;
    align-items: center;
}

.promotion__all span:first-child{
    display: flex;
    align-items: center;
    gap: 4px;
}

.promotion__all span:first-child i{
    color: var(--blue-color-high);
    position: relative;
    font-size: 20px;
}

.promotion__all span:first-child i::after{
    position: absolute;
    content: "\25";
    color: white;
    font-size: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.promotion__all span:last-child{
    color: var(--blue-color-high);
    cursor: pointer;
}

.promotion__all span:last-child i{
    color: var(--blue-color-high);
}

/* New update */

.invoice__promotion .apply__promotion{
    padding: 14px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}

#promotion__form > div{
    display: flex;
    gap: 4px;
}

#promotion__form > div > input{
    border-radius: 4px;
    padding: 10px;
}

#promotion__form > div > input{
    border: 1px solid var(--blue-color-high);
}

#promotion_code{
    flex: 1;
}

#apply{
    background-color: var(--blue-color-high);
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 4px;
    width: max-content;
    cursor: pointer;
}

#promotion__form .apply__status{
    height: auto;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 18px;
}

#promotion__form .apply__status .apply__success{
    color: var(--blue-color-high);
    background-color: rgba(68, 125, 248, 0.1);
    border-left: 6px solid var(--blue-color-high);
    padding: 8px 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

#promotion__form .apply__status .apply__failed{
    color: #E40F0A;
    background-color: rgba(228, 15, 10, 0.1);
    border-left: 6px solid #E40F0A;
    padding: 8px 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

#promotion__form .apply__status i{
    font-size: 18px;
}

.valid{
    color: var(--blue-color-high);
}

.invalid{
    color: #E40F0A;
}

.invoice__promotion .summary__invoice{
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 14px;
}

.invoice__promotion .summary__invoice .invoice__detail--info{
    display: grid;
    gap: 16px;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__items{
    display: grid;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: 1px #D9D9D9 solid;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__items .price__item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__items .price__item:last-child{
    height: auto;
}


/* New update */
.invoice__promotion .summary__invoice .invoice__detail--info .price__text{
    font-weight: 500;
    color: #808080;
    /* font-size: 15px; */
}/* New update */

.invoice__promotion .summary__invoice .invoice__detail--info .price__text:last-child{
    position: relative;
    cursor: pointer;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__text .discount__note{
    position: absolute;
    left: 36%;
    width: 180px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    font-weight: 400;
    padding: 6px;
    border: 1px solid var(--blue-color-high);
    border-radius: 4px;
    background-color: white;
    line-height: 16px;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__item:last-child:hover{
    cursor: pointer;
}

.invoice__promotion .summary__invoice .invoice__detail--info .price__item:last-child:hover .discount__note{
    visibility: visible;
    opacity: 1;
}


.invoice__promotion .summary__invoice .price__items .price__value{
    font-size: 20px;
    font-weight: 550;
}

.invoice__promotion .summary__invoice .price__total{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.invoice__promotion .summary__invoice .price__total .price__content{
    text-align: right;
    line-height: 24px;
}

.invoice__promotion .summary__invoice .price__total .price__content .price__value--final{
    font-size: 26px;
    font-weight: 600;
    color: var(--blue-color-high);
}

.invoice__promotion .summary__invoice .price__total .price__content .price__value--noted{
    font-size: 14px;
}

.invoice__promotion .group__button--forward{
    display: grid;
    gap: 8px;
}

#continue--checkout, #continue--shopping{
    width: 100%;
    padding: 14px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

#continue--checkout{
    background-color: var(--blue-color-high);
    color: white;
}

#continue--shopping{
    background-color: white;
    color: var(--blue-color-high);
    border: 1px solid var(--blue-color-high);
}

.cart__container--empty{
    width: fit-content;
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.cart__container--empty p{
    font-weight: 500;
    font-size: 24px;
}

.cart__container--empty a{
    margin: auto;
}

.cart__container--empty a button{
    padding: 16px 100px;
    border: 1px solid var(--blue-color-high);
    background-color: white;
    color: var(--blue-color-high);
    font-weight: 500;
    font-size: 24px;
    border-radius: 6px;
    width: fit-content;
    margin: auto;
}

.cart__container--empty button:hover{
    background-color: var(--blue-color-high);
    color: white;
}

.cart__container--empty img{
    width: 100%;
    height: auto;
}


/* New update */
.promotion__sidebar{
    --width: 380px;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transform: translateX(var(--width));
    max-width: var(--width);
    transition: all 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    background: white;
}

.promotion__sidebar.visible{
    z-index: 9999;
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.promotion__sidebar .promotion__header{
    display: flex;
    padding: 12px;
    box-shadow: 0px 0px 0px rgba(68, 125, 248, 0.05), 0px 1px 3px rgba(68, 125, 248, 0.15);
    font-weight: 500;
}

.promotion__sidebar .promotion__header i{
    margin: 0px 12px;
    cursor: pointer;
}

.promotion__sidebar .promotion__header span{
    flex: 1;
    text-align: center;
}

.promotion__content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: scroll;
    padding-bottom: 120px;
    gap: 12px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.promotion__content::-webkit-scrollbar {
    display: none;
}


.promotion__content .promotion__item{
    display: flex;
    padding: 10px;
    gap: 10px;
    border: 1px solid var(--blue-color-high);
    border-radius: 6px;
}

.promotion__content .promotion__item .discount__percent{
    padding: 0px 14px;
    border-radius: 6px;
    font-weight: 600;
    background-color: var(--blue-color-high);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.promotion__content .promotion__item .discount__percent i{
    font-size: 26px;
}

.promotion__content .promotion__item .item__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    word-wrap: break-word;
    line-height: 20px;
}

.promotion__content .promotion__item .item__content .promotion__text{
    font-weight: 700;
    color: var(--blue-color-high);
    font-size: 18px;
}

.promotion__content .promotion__item .item__content .button__copy{
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
    background-color: #696969;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.promotion__content .promotion__item .item__content .button__copy:hover{
    background-color: #4BAC4D;
}

.promotion__sidebar .promotion__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
    box-shadow:  0px 1px 3px rgba(68, 125, 248, 0.15), 0px 0px 0px rgba(68, 125, 248, 0.05);
    background-color: white;
}

.promotion__sidebar .promotion__footer button{
    width: 100%;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    background-color: unset;
    border: 1px solid var(--blue-color-high);
    color: var(--blue-color-high);
    cursor: pointer;
}

.order__note{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 20px;
}

.order__note label{
    font-weight: 600;
}

.order__note textarea{
    padding: 10px;
    resize: vertical;
    border-radius: 4px;
    outline: none;
}

.promotion__modal{
    width: 100%;
}


#cart__table{
    width: 100%;
    border-collapse: collapse;
}

#cart__table .cart__header{
    left: 0;

    right: 0;
    background-color: white;
    top: 120px;
    position: sticky;
}

#cart__table .cart__header::before{
    content: "";
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    background-color: white;
    border: 1px solid white;
    width: 100%;
    z-index: 0;
}

#cart__table th, #cart__table td{
    padding: 12px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #D9D9D9;
}

#cart__table th{
    /* font-size: 18px; */
    font-weight: 600;
    background-color: var(--blue-color-high);
    color: white;
}

#cart__table th:nth-last-child(2), #cart__table th:nth-last-child(3), #cart__table th:nth-last-child(4){
    width: 110px;
}

#cart__table th:last-child{
    width: 60px;
}
/* New update */