.form__label {
    margin-top: 20px;
}

body {
    background-color: var(--blue-color-low);
}

.header {
    background-color: var(--blue-color-medium);
}

.header .header__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 40px;
    color: #fff;
    text-wrap: nowrap;
}

.header__wrapper a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    color: #fff;
}

.header__wrapper a:hover {
    font-weight: 500;
    color: #fff8f8;
}

h2 {
    font-size: 25px;
    font-weight: 500;
}

.product__form {
    --background-form: #fff8f8;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    background-color: var(--background-form);
}

.form__label {
    display: block;
}

.form__label {
    margin-top: 20px;
}

.form__title {
    display: inline-flex;
    margin-bottom: 10px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0 0 0 10px;
    background-color: var(--background-form);
}

.form__select {
    width: 100%;
}

.product__label {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--blue-color-medium);
}

.product__title {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}

.product__input {
    font-size: 15px;
}

.form__desc {
    padding-top: 0;
    padding-bottom: 10px;
}
/*Size*/
.form__sizes-wrapper, .form__colors-wrapper{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.form__sizes {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 15px;
    height: auto;
}
.form__add-size{
    flex-basis: 180px;
}
.form__size{
    width: unset;
    height: unset;
    padding: 10px;
    border-radius: 5px;
    background-color: #cccccc;
}

.form__size label {
    display: flex;
    align-items: center;
    gap: 5px;
}


.form__size input {
    flex: 1;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
}


.form__size-price {
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
}

.price-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-wrapper .form__input{
    flex: 1;
}
.form__submit{
    --width: 200px;
    --height: 50px;
    border-radius: 10px;
    --background-color: var(--blue-color-medium);
    --background-color-hover: var(--blue-color-high);
    margin-top: 30px;
    color: #fff;
}

/*img*/
.form__img {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #cccccc;
}

.img__previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.img__previews:has(.img__preview) +.img__label{
    margin-left: 10px;
}
.img__preview {
    --size: 120px;
    width: var(--size);
    height: var(--size);
    border-radius: 20px;
    overflow: hidden;
}


.img__preview img {
    width: 100%;
    object-fit: cover;
}

.img__label {
    --size: 120px;
    width: var(--size);
    height: var(--size);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border: 2px solid #333333;
}

.img__label:hover {
    cursor: pointer;
}

.img__icon {
    font-size: 30px;
}

/*Validate*/
.form__error {
    display: block;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    color: red;
}