.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: unset;
    height: unset;
}
.reload__btn {
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #cccccc;
    opacity: 0.7;
}

.reload__btn:hover {
    opacity: 1;
    cursor: pointer;
}

.reload__icon {
    font-size: 14px;
    color: #aaaaaa;;

}
.filter__text-block {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.filter__text {
    flex: 1;
    border-bottom: 1.5px solid  #cccccc;
    padding: 5px 0;
}
.filter__text:focus{
    border-bottom: 1.5px solid  #aaaaaa;
}

.search__icon {
    color: #000;
}
.filter__date{
    display: flex;
    gap: 10px;
}
.filter__date ~.filter__date{
    margin-top: 10px;
}
.filter__date span{
    flex-basis: 40px;
}
.filter__date input[type="date"]{
    flex: 1;
}
/*Modal*/
.modal__product{
    width: 90%;
    position: absolute;
    top: 5%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    max-height: 600px;

}
.modal__product-iframe{
    width: 100%;
    flex: 1;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-1 {
    -webkit-line-clamp: 1;
}