body {
    position: relative;
}
#header {
    background-color: var(--blue-color-medium);
}
.account__wrapper {
    display: flex;
    gap: 5px;
    background-color: var(--blue-color-low);
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.account__name {
    text-wrap: nowrap;
}

/*Nav bar*/
.navbar {
    background-color: var(--blue-color-high);
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.navbar__link {
    color: #fff;
    --width: 150px;
    --height: 50px;
    --background-color: var(--blue-color-medium);
    --background-color-hover: var(--blue-color-low);
    border-radius: 10px;
}

.navbar__link.navbar__link--clicked {
    background-color: var(--blue-color-low);
}

#main {
    background-color: #e7e9ec;
}

.content {
    padding: 50px 0;
}

/*Form*/
.filler__block {
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.filler__block ~ .filler__block {
    margin-top: 20px;
}

.filler__heading {
    padding-bottom: 10px;
    font-weight: 600;
    line-height: 1.67;
}

.filter__label {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-weight: 400;
    margin: 7px 0;
}

.check {
    position: relative;
}

.check::after, .check::before {
    content: "";
    display: block;
}

.check::after {
    position: absolute;
    display: none;
    top: 4px;
    left: 8px;
    width: 3px;
    height: 10px;
    border-right: 1.5px solid #fff;
    border-bottom: 1.5px solid #fff;
    rotate: 45deg;
}

.check:before {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    border: 1px solid #aaa;
}

.check:has(input:checked)::after {
    display: block;
}

.check:has(input:checked)::before {
    background-color: #4BAC4D;
    border-color: #4BAC4D;
}

.filter__date {
    display: block;
    width: 100%;
}

.filter__buttons {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.filter__button {
    flex: 1;
    --height: 40px;
    border-radius: 10px;
    --background-color: var(--blue-color-medium);
    --background-color-hover: var(--blue-color-high);

    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

/*Search*/
.form__search {
    display: flex;
    align-items: center;
}
.form__search-block.filler__block{
    margin-left: auto;
}
.form__search-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 10px;
}

.form__search-block input {
    width: 100%;
    margin-left: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid #555;
}

.search__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

div:has(>h1) {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}
.button__add, .button__delete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    --width: 180px;
    --height: 50px;
    border-radius: 10px;
    background-color: #4BAC4D;
    color: #fff;
    margin-left: auto;
}

.button__add:hover {
    cursor: pointer;
    opacity: 0.9;
}

.button__delete {
    display: none;
}

.search__select {
    outline: none;
    border: none;
    padding: 10px 5px;
}

/*Table*/

.table__wrapper {
    overflow: auto;
    margin-top: 12px;
}

.table {
    width: 100%;

    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

thead {
    background-color: var(--blue-color-high);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.table__row, .table__head {

}

.table__head, .table__checkbox, .table__edit {
    border-right: 1px solid #cccccc;
}

thead th,
tbody td {
    padding: 10px;
    vertical-align: middle;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
}

tbody .table__row:has(input:checked), tbody .table__row:hover {
    background-color: #e6f8e6;
}
.table__data-edit {
    text-align: center;
}

.table__data-edit:hover {
    cursor: pointer;
}

.table__cell {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
}

/*Product form edit info*/
.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: unset;
    height: unset;
}


.modal__blur {
}

.modal__product div:has(.modal__product-close) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 34px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #3f3f3f;
    background-color: #ccc;
    padding: 20px 10px;
}

.modal__product h1 {
    font-size: 20px;
    text-align: left;

}

.modal__product-close {
    font-size: 20px;
    padding: 10px;
}

.modal__product-close:hover {
    cursor: pointer;
    opacity: 0.5;
}

.form__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__label ~ .form__label {
    margin-top: 10px;
}

.form__title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 15px;
    font-weight: 500;
}

.form__detail {
    font-size: 15px;
    padding: 2px;
}

.form__detail + p {
    position: absolute;
    left: calc(100% + 5px);
    z-index: 1;
    top: -5px;
    display: block;
    width: 200px;
    padding: 5px;
    border: 1px solid #5ee95e;
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    line-height: 1.67;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.15s ease-in, opacity 0.15s ease-in;
}

.form__detail:hover + p {
    opacity: 1;
    visibility: visible;
}

.form__select, .form__input {
    flex-basis: 400px;
}

.form__input {
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.form__input:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #ccc;
}

.form__select {
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.form__desc .form__title {
    display: inline-block;
}

.form__textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    outline: none;
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 12px 0;
    font-family: var(--primary-font);
    font-size: 15px;
    line-height: 1.67;
}

.product__form button {
    margin-left: auto;
    --width: 300px;
    --height: 50px;
    border-radius: 10px;
    background-color: #5ee95e;
    font-size: 15px;
    font-weight: 500;
    /*margin-bottom: 34px;*/
}
