.filter__text-block {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.filter__text {
    flex: 1;
    border-bottom: 1.5px solid  #cccccc;
    padding: 5px 0;
}
.filter__text:focus{
    border-bottom: 1.5px solid  #aaaaaa;
}

.search__icon {
    color: #000;
}
.filter__date{
    display: flex;
    gap: 10px;
}
.filter__date ~.filter__date{
    margin-top: 10px;
}
.filter__date span{
    flex-basis: 40px;
}
.filter__date input[type="date"]{
    flex: 1;
}