main {
    padding-top: 30px;
    background-color: #fff;
}

.category__wrapper {
    display: flex;
}

.category__label {
    margin-top: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.category__title {
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.category__icon-guide {
    font-size: 20px;
    margin-left: 10px;
}

.category__guide {
    position: absolute;
    left: 100%;
    bottom: 100%;
    padding: 5px;
    width: 150px;
    border: 1px solid #cccccc;
    font-size: 12px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    background-color: #E0E0E0;
}


.category__icon-guide:hover + .category__guide {
    visibility: visible;
    opacity: 1;
}

.category__error {
    font-size: 12px;
    color: red;
    padding-top: 3px;
    font-weight: 400;
}

.category__input {
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    border-bottom: 2px solid #ccc;

}

/*sizeTable*/
.category__file {
    display: block;
    --width: 230px;
    --height: 150px;
    width: var(--width);
    height: var(--height);
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #fff;
}

.category__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.category__wrapper {

}

.parameter__item {
    position: relative;
    color: #fff;
    padding: 0 10px 30px;
    background-color: var(--blue-color-medium);
    border-radius: 10px;
    margin-top: 30px;
}

.parameter__item-close {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: var(--blue-color-high);
}

.parameter__item-close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.parameter__item-close-icon {
    font-size: 15px;
    color: #fff;
}

.parameter__item .category__block {
    flex: 1;
}

.parameter__item .category__input {
    border-radius: 10px;
    width: 100%;
}

.parameter__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
}

.category__value > * {
    flex: 1;
}

.parameter__add {
    --width: 100%;
    --height: 50px;
    --background-color-hover: var(--blue-color-high);
    --background-color: var(--blue-color-medium);
    border-radius: 10px;
    margin-top: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.parameter__add-icon {
    font-size: 20px;
    line-height: 50px;
}

.button__submit {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
}