.reload__btn {
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #cccccc;
    opacity: 0.7;
}

.reload__btn:hover {
    opacity: 1;
    cursor: pointer;
}

.reload__icon {
    font-size: 14px;
    color: #aaaaaa;;

}
.filter__text-block {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.filter__text {
    flex: 1;
    border-bottom: 1.5px solid  #cccccc;
    padding: 5px 0;
}
.filter__text:focus{
    border-bottom: 1.5px solid  #aaaaaa;
}

.search__icon {
    color: #000;
}
.filter__date{
    display: flex;
    gap: 10px;
}
.filter__date ~.filter__date{
    margin-top: 10px;
}
.filter__date span{
    flex-basis: 40px;
}
.filter__date input[type="date"]{
    flex: 1;
}
/*Modal*/
<<<<<<< HEAD
.modal button {
    font-size: 20px;
    font-weight: 500;
}

.form__preview-img {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 300px;
    width: var(--size);
    height: var(--size);
    background-color: #cccccc;
    margin: 0 auto;
    border: 1px solid #1f1f1f;
}

.form__preview-img img {
    display: none;
    width: 100%;
    height: 100%;
}

.form__preview-icon {
    font-size: 100px;
}
.form__desc{
   padding-top: 24px;
}
/*Sizes*/
.form__sizes, .form__colors {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.form__size, .form__color {
    position: relative;
    display: inline-block;
}
.form__size{
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
}
.form__color{
    width: 80px;
    height: 40px;
}

.form__size-input, .form__color-input {
    width: 100%;
    height: 100%;
    padding: 0 5px;
}
.form__color-input{
    padding: 0;
}

.form__size-delete, .form__color-delete {
=======
.modal__product{
    width: 90%;
>>>>>>> 2f2e062eb617b76e5cf7f6eee7de2166a2940dfa
    position: absolute;
    top: 5%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    max-height: 600px;

}
.modal__product-iframe{
    width: 100%;
    flex: 1;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> d3346e32266ab47a387f3728adaa68b785b91aef
.form__add-size:hover, .form__size-delete:hover, .form__add-color:hover, .form__color-delete:hover {
    cursor: pointer;
    opacity: 0.8;
=======
.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
>>>>>>> 2f2e062eb617b76e5cf7f6eee7de2166a2940dfa
}

.line-clamp.line-1 {
    -webkit-line-clamp: 1;
}