body{
    margin: 0;
    padding: 0;
}
.main {
    padding: 50px 0;
    background-color: var(--blue-color-low);
}
.service__section {
    padding: 20px 10px;
    border-radius: 10px;
    display: none;

}

.service__order .block__product{
    padding: 0 0;
}

.service__section--show {
    display: block;
}
.col-3{

}
.col-9{
    border-radius: 10px;
    background-color: var(--blue-color-high);
}

.item__service {
    display: block;
    /*margin-bottom: 20px; !* Khoảng cách giữa thẻ a và li *!*/
}

.service__item {
    padding: 20px 10px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 5px;
    color: #FFFFFF;
    position: relative;
    margin: 0; /* Đặt margin về 0 để tránh ảnh hưởng từ .service__item ~ .service__item */
}

.service__item ~ .service__item {
    margin-top: 20px;
}

.service__item:not(.service__item--clicked):hover {
    opacity: 0.9;
    cursor: pointer;
}

.service__item.service__item--clicked {
    background-color: var(--blue-color-high);
}


h1{
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    color: white;

}
.block_info{
    display: flex;
    margin-top: 20px;
}
.user{
    margin-left: 20px;
}
.user__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user__info{
    flex: 1;

}
#photo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}
#file{
    display: none;
}
#uploadbtn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    transform: translateX(-90%);
    margin-top: 75px;
    background-color: rgb(173,172,172,0.801);
;
}

.info-compo{
    margin-top: 15px;
    margin-left: 20px;

}
.lable-compo{
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}
.input-compo{
    padding: 16px 10px;
    width: 100%;
    border-radius: 6px;
    font-size: 18px;
}
.gender__option select{
    width: 100%;
    padding: 16px 10px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}
.birthday__option{
    display: flex;

}
#day{
    width: 30%;
    font-size: 18px;
}
#month{
    width: 30%;
    padding: 18px 10px;
    border-radius: 8px;
    border: none;
    margin: 0px 50px;
    font-size: 18px;
}
#year{
    width: 30%;
    font-size: 18px;
}
.save {
    float: right;
    margin: 30px 0;
    margin-right: 150px;
}

.save button {
    border-radius: 50px;
    height: 50px;
    width: 150%;
    background-color: #76f876;
    font-weight: bold;
    border: none;
    font-size: 18px;
}

.save button:hover {
    background-color: #5ee95e;
    cursor: pointer;
}
.save button:active {
    border: 3px solid white;
}
.info-compo .input__form{
    position: relative;
}
.form {
    margin-top: 30px;
}
.icon__eye{
    position: absolute;
    right: 10px;
    top: 30px;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    font-size: 15px;
}
.icon__eye--open{
    display: none;
}

.input__oldPass, .input__newPass , .input__newPass--confirm{
    margin-top: 5px;
}
.info__oldPass, .info__newPass , .info__newPass--confirm{
    margin: 5px 100px;
}

.form__error {
    display: block;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    color: #ef0000;
    font-weight: bold;
}

.invalid .form__error {
    color: red;
}

.invalid .input-compo {
    border: 1px solid red;
}
.save__changePass{
    margin-top: 10px;
}
.block__product{
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #FFFFFF;
    object-fit: cover;
    padding-left: 0;
}
.img__product{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;

}
.block__info{

    margin: 10px 20px;
}
.info__product{
    font-weight: 460;
    font-size: 18px;
    line-height: 25px;
}
.btn{
    background-color: rgba(121, 121, 121, 0.64);
    font-size: 18px;
    height: 50px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: auto ;
    margin-right: 50px;
    cursor: pointer;
}
.btn:hover{
    background-color: #e0dfdf;
}
.statusOrder{
    display: flex;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
    top: 0;
    z-index: 10;
    background: #fff;
    border-radius: 5px;
}
.status__list{
    cursor: pointer;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: black;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.info__product--name{
    font-weight: 600;
}

.service__order {

    border-radius: 10px;
    display: none;

}
.service__order--show {
    display: block;
}

.status__list--click {
    border-bottom: 3px solid #417bee;
    color: #3f7aee;
}
.status__list:hover{
    color: #3f7aee;
}
.block__product--history{
    width: 100%;
    height: 600px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.imgNoneProduct{
    background-position: 50%;
    background-size: contain;
    width: 200px;
    height: 200px;
    background-image: url("../img/noneorder.png");
}

