.main {
    background-color: var(--blue-color-low);
    min-height: 300px;
}

.products {
    padding: 100px 0;
}
.product__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px 20px;
    --border-radius: 10px;

}

.product__item {
    display: flex;
    flex-direction: column;
    height: unset;
    background-color: #fff;
    border-radius: var(--border-radius);
}

.product__img {
    flex-basis: 380px;
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.product__info {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px 10px;
}

.product__tag {
    padding: 8px 8px;
    width: fit-content;
    border-radius: 4px;
    background-color: #E40F0A;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.product__name {
    flex: 1;
    font-weight: 460;
    font-size: 18px;
}

.product__review {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
}

.product__review-stars {
    display: flex;
    gap: 5px;
    color: #F7B500;
    font-size: 16px;
}
.product__review-num{
    font-size: 16px;
    color: #687EFF;
}
.product__price{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}

.product__price--sale {
    font-size: 24px;
}

.product__price--original {
    font-size: 16px;
    color: #D9D9D9;
}

/*Filter*/
.form__filter {
    --border-radius: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 21px 13px 15px -4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 21px 13px 15px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 21px 13px 15px -4px rgba(0, 0, 0, 0.6);
}

.filter__group {
    margin: 10px 0;
}

.filter__separate {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3f3f3f;
}

.filter__title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
}

.filter__search {
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
    margin-right: -20px;
    font-size: 15px;
}

.filter__search:placeholder-shown {
    font-size: 13px;
}

.filter__radio-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter__radio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.filter__radio-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.filter-radio__icon-wrapper {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
}

.filter-radio__icon {
    font-size: 12px;
    color: #fff;
    display: none;
}

.filter__radio-item .filter__radio:checked + .filter-radio__icon-wrapper .filter-radio__icon {
    display: block;
}

.filter__radio-item .filter__radio:checked + .filter-radio__icon-wrapper {
    background-color: blue;
}

.filter__range {
    width: 100%;
}

.filter__price {
    height: 50px;
    font-size: 15px;
}

.filter__color-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.filter__color:checked + .filter__color-show {
    border: 2px solid #3f3f3f;
}

.filter__color-show {
    display: block;
    --size: 25px;
    width: var(--size);
    height: var(--size);

}

.filter__submit, .filter__reset {
    margin-top: 20px;
    --width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    --background-color: var(--blue-color-high);
    border-radius: var(--border-radius);
    --background-color-hover: var(--blue-color-low);
}
